<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atosah.falconery.indonesiamealplansfordiet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.OnBoardStartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.OnBoard" />
        <activity
            android:name=".activity.OnBoardTargetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.OnBoard" />
        <activity
            android:name=".activity.OnBoardTargetWeightActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.OnBoard" />
        <activity
            android:name=".activity.OnBoardTargetGenderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.OnBoard" />
        <activity
            android:name=".activity.OnBoardTargetLevelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.OnBoard" />
        <activity
            android:name=".activity.OnBoardCurrentWeightActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.OnBoard"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activity.OnBoardCurrentHeightActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.OnBoard"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activity.OnBoardCurrentDateBirthActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.OnBoard" />
        <activity
            android:name=".activity.OnBoardTargetMealPlanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.OnBoard" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.MealListActivity" />
        <activity
            android:name=".activity.DetailMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransparentBar"></activity>
    </application>

</manifest>